<header> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <i class="bi bi-browser-safari" style="font-size: 2rem; color: rgb(255, 255, 255);"></i>
    <div class="container-fluid">
      <a class="navbar-brand" href="/">首頁</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              關於漁業
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ url_for('aboutfishery.about_html') }}">台灣漁業總覽</a></li>
              <li><a class="dropdown-item" href="{{ url_for('aboutfishery.dilemma_html') }}">漁業困境</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              漁業資料
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ url_for('map.fullscreen') }}">台灣漁港地圖</a></li>
              <li><a class="dropdown-item" href="{{ url_for('fishy.hello') }}">歷年漁獲量</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              其他連結
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ url_for('other.taiwan_ngo') }}">相關社會團體</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              網站資訊
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ url_for('aboutme.about_me') }}">關於本站</a></li>
              <li><a class="dropdown-item" href="{{ url_for('callme.call_me') }}">留言給站長</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </nav>
</header>