{% extends "base.html" %}


{% block body %}
<div class="wrapper">
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading textBox word-img">台灣四面環海 <span class="text-muted">海洋資源豐富</span></h2>
        <p class="lead text-img word-img">但是過去漁業資源並沒有受到友善地對待，</p>
        <p class="lead text-img word-img">導致沿岸，甚至遠洋漁業資源面臨枯竭。</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ url_for('static', filename='p2.jpg') }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
  
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 ">
        <h2 class="featurette-heading textBox word-img">台灣漁業曾遭到制裁 <span class="text-muted">這是非常嚴肅的真相</span></h2>
        <p class="lead text-img word-img">台灣除了非法漁船，也有血汗漁工，</p>
        <p class="lead text-img word-img">先後遭到歐盟與美國分別以非法漁貨與血汗勞工等兩大問題祭出漁業黃牌。</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ url_for('static', filename='p2.jpg') }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
  
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading textBox word-img">台灣漁業正在改革 <span class="text-muted">你我都該重視</span></h2>
        <p class="lead text-img word-img">台灣漁業正積極改變中，一掃過往的陰霾!!</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ url_for('static', filename='p2.jpg') }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
  
      </div>
    </div>
  
    <hr class="featurette-divider">
  </div>
{% endblock %}