{% extends "base.html" %}


{% block body %}

<p>

    我國沿近海漁業在民國34年台灣光復之初，由於戰爭影響，漁產量大為降低，年總漁產量僅1萬6千餘噸，當時政策首重恢復沿近海漁業。民國40年，政府鼓勵民間造船，沿近海漁業逐漸恢復，產量年年增加。民國42年至49年實施第一、二期經建計畫，將資金投入沿近海之小型漁業，民國42年實施「漁船放領」，台灣漁業突飛猛進。民國56年為保護底層魚類資源，開始實施未滿300噸拖網漁船汰建制度，民國60年代，政府推行「漁船動力化、設備機械化、作業科學化、經營企業化」政策，再次突破漁業發展之瓶頸。民國70年沿近海漁業產量達到高峰約40萬公噸，嗣後因作業海域與資源量受限遇到成長瓶頸，呈衰退現象。

     民國78年起，為管控漁船投入量，全面實施漁船限建及汰建制度。民國80年政府提出漁船零成長政策，以改善產業結構邁向精緻漁業為施政重點，且為加速縮減漁船規模，增加漁業資源休養生息空間，於民國80至84年辦理第一階段漁船收購，並於92年開始實施獎勵休魚。近幾年來，年漁產量維持在20至25萬公噸之間。政府除強化海洋漁業捕撈管理外，在漁業資源培育部分，亦加強投設人工魚礁及魚苗放流。

     我國沿近海漁業經營之種類包含刺網、拖網、延繩釣、一支釣、曳繩釣、籠具、巾著網、焚寄網、扒網、鯖?圍網、?鱙漁業、飛魚卵漁業、珊瑚漁業、定置網漁業及魚苗捕撈等，捕撈魚種種類繁多。</p>

{% endblock %}