{% extends "base.html" %}


{% block body %}

<article class="blog-post wrapper">
  <p>圖片素材使用來源</p>
    <ol>
      <li> <a href="https://www.agriharvest.tw/archives/11055" target="_blank" rel="noreferrer noopener" >p1.jpg圖片來源</a></li>
      <li><a href="https://www.agriharvest.tw/archives/60010" target="_blank" rel="noreferrer noopener" >p2.jpg圖片來源</a></li>
      <li><a href="https://www.agriharvest.tw/archives/47630" target="_blank" rel="noreferrer noopener" >p3.jpg圖片來源</a></li>
      <li><a href="https://www.irasutoya.com/" target="_blank" rel="noreferrer noopener" >かわいいフリー素材集 いらすとや</a></li>
    </ol>
    <hr>
    <p>文案素材使用來源</p>
      <ol>
        <li>Google取得</li>
        <li>ChatGPT生成</li>
      </ol>
  
  </article>




{% endblock %}