{% extends "base.html" %}


{% block body %}
<h1>通知我</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<form method="POST">
    {{form.hidden_tag()}}
    <div>
    {{form.profession.label(class='form-label')}} 
        </div>
    {{form.profession(class='form-control sub-con')}} 
    <br>
    <div>
    {{form.content.label(class='form-label')}}
        </div>
    {{form.content(class='form-textarea')}}
    <br>
    <div>
    {{form.submit(class='sub-submit')}}
        </div>

</form>
{% endblock %}