{% extends "base.html" %}


{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}"  id="div_flash">
            {{ message }}
        <input type="button" value=&#10006 onclick="removeFlash()" style="float: right">
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<form method="POST">
    {{form.hidden_tag()}}
    <div>
    {{form.profession.label(class='form-label')}} 
        </div>
    {{form.profession(class='form-control sub-con')}} 
    <br>
    <div>
    {{form.content.label(class='form-label')}}
        </div>
    {{form.content(class='form-textarea')}}
    <br>
    <div>
    {{form.submit(class='sub-submit')}}
        </div>

</form>
{% endblock %}