{% extends "base.html" %}


{% block body %}
<h1>歷年漁獲量</h1>
</div>
<div class="wrapper"><img src='data:image/png;base64,{{data}}'/></div>

<hr>
<article class="blog-post wrapper">
    <h2 class="blog-post-title">解析</h2>

    <p>漁獲量減少主要原因:</p>
    <ol>
      <li>全球氣候異常</li>
      <li>無節制的濫捕</li>
      <li>歐盟與美國的漁業制裁</li>
    </ol>
    <p>其他原因:</p>
    <ol>
        <li>誤捕</li>
        <li>棲地遭到破壞</li>
        <li>海洋汙染</li>
        <li>外來種入侵</li>
    </ol>
    <h3>2015年的歐盟黃牌事件</h3>
    <p> 台灣於2015年<a href="https://www.wealth.com.tw/articles/de9ac976-edfd-4ae1-b553-0b2db175db4a" target="_blank" rel="noreferrer noopener">
            遭到歐盟祭出漁業黃牌警告</a>，不得在歐洲販售魚貨，漁業署因此才開始打擊非常漁業，因此該年度的漁獲量開始減少，但台灣的漁業資源早在歐盟季黃牌之前就開始萎縮了.</p>
    
    <h3>2019年美國漁業制裁</h3>
    <p>當歐盟結束對台灣的黃牌制裁後，緊接而來的是美國以台灣因為的血汗漁工問題，讓漁獲無法輸入美國。</p>
    
    <h3>台灣政府的因應辦法</h3>
    <ol>
        <li>修改《漁業法》、《遠洋漁業條例》、《投資經營非我國籍漁船管理條例》(漁業三法)</li>
        <li>加強執法</li>
        <li>畫設禁漁區</li>
    </ol>
  </article>

</div>
{% endblock %}