{% extends "base.html" %}


{% block body %}
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="{{ url_for('static', filename='p1.jpg') }}" alt="p1" class="d-block w-100 c-img" style="width:100%">
      
        <div class="container">
          <div class="carousel-caption text-end">
            <h2>台灣漁業總覽</h2>
            <p>台灣近代漁業從經歷百年，從建立到戰後重建，一直到產業轉型的過程。</p>
            <p><a class="btn btn-lg btn-primary" href="#">讀更多</a></p>
          </div>
        </div>
      
      </div>
      <div class="carousel-item c-item">
        <img src="{{ url_for('static', filename='p2.jpg') }}" alt="p2" class="d-block w-100 c-img" style="width:100%">
        
        <div class="container">
          <div class="carousel-caption text-end">
            <h2>歷年漁獲量</h2>
            <p>將公開資料視覺化，一窺台灣近20年的漁獲量。</p>
            <p><a class="btn btn-lg btn-primary" href="#">讀更多</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item c-item">
        <img src="{{ url_for('static', filename='p3.jpg') }}" alt="p3" class="d-block w-100 c-img" style="width:100%">
      
        <div class="container">
          <div class="carousel-caption text-end">
            <h2>相關部門</h2>
            <p>了解國內政府單位與民間團體對於台灣漁業的努力與監督</p>
            <p><a class="btn btn-lg btn-primary" href="#">讀更多</a></p>
          </div>
        </div>
      
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
  <div class="container-fluid mt-3">
    <h3>值得關注的新聞</h3>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <p class="card-text mb-auto">臺灣的近海漁獲量在去年（2022）達到近20年新低，除了最主要的氣候因素以外，過度捕撈也是造成這個現象的原因之一...</p>
          <a href="https://www.peopo.org/news/670556" target="_blank" rel="noreferrer noopener" class="stretched-link">深入了解</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ url_for('static', filename='logo07.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/> 
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <p class="mb-auto">為了維持利潤、減省漁船燃料與勞動成本，業者經常選擇剝削勞工權益，如削減工資、強迫勞動、超時工作，甚至非法轉載（transshipment）等行為達到目的。</p>
          <a href="https://www.greenpeace.org/taiwan/update/25325/%E5%A4%96%E7%B1%8D%E6%BC%81%E5%B7%A5%E9%81%AD%E5%BC%B7%E8%BF%AB%E5%8B%9E%E5%8B%95%EF%BC%8C%E8%87%BA%E7%81%A3%E5%9C%8B%E9%9A%9B%E8%81%B2%E8%AD%BD%E5%8F%97%E6%90%8D%EF%BC%81%E7%9B%A3%E5%AF%9F%E9%99%A2/" target="_blank" rel="noreferrer noopener" class="stretched-link">深入了解</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ url_for('static', filename='logo06.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/> 
        </div>
      </div>
    </div>
  </div>


{% endblock %}