{% extends "base.html" %}


{% block body %}
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="{{ url_for('static', filename='p1.jpg') }}" alt="p1" class="d-block w-100 c-img" style="width:100%">
      
        <div class="container">
          <div class="carousel-caption text-end">
            <h2>台灣漁業總覽</h2>
            <p>台灣近代漁業從經歷百年，從建立到戰後重建，一直到產業轉型的過程。</p>
            <p><a class="btn btn-lg btn-primary" href="#">讀更多</a></p>
          </div>
        </div>
      
      </div>
      <div class="carousel-item c-item">
        <img src="{{ url_for('static', filename='p2.jpg') }}" alt="p2" class="d-block w-100 c-img" style="width:100%">
        
        <div class="container">
          <div class="carousel-caption text-end">
            <h2>歷年漁獲量</h2>
            <p>將公開資料視覺化，一窺台灣近20年的漁獲量。</p>
            <p><a class="btn btn-lg btn-primary" href="#">讀更多</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item c-item">
        <img src="{{ url_for('static', filename='p3.jpg') }}" alt="p3" class="d-block w-100 c-img" style="width:100%">
      
        <div class="container">
          <div class="carousel-caption text-end">
            <h2>相關部門</h2>
            <p>了解國內政府單位與民間團體對於台灣漁業的努力與監督</p>
            <p><a class="btn btn-lg btn-primary" href="#">讀更多</a></p>
          </div>
        </div>
      
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
  <div class="container-fluid mt-3">
    <h3>歡迎來到我的網站</h3>
    <p>關於台灣漁業的前景</p>
  </div>

  <div class="wrapper">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading textBox word-img">台灣四面環海 <span class="text-muted">海洋資源豐富</span></h2>
      <p class="lead text-img word-img">但是過去漁業資源並沒有受到友善地對待，</p>
      <p class="lead text-img word-img">導致沿岸，甚至遠洋漁業資源面臨枯竭。</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ url_for('static', filename='p2.jpg') }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 ">
      <h2 class="featurette-heading textBox word-img">台灣漁業曾遭到制裁 <span class="text-muted">這是非常嚴肅的真相</span></h2>
      <p class="lead text-img word-img">台灣除了非法漁船，也有血汗漁工，</p>
      <p class="lead text-img word-img">先後遭到歐盟與美國分別以非法漁貨與血汗勞工等兩大問題祭出漁業黃牌。</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ url_for('static', filename='p2.jpg') }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading textBox word-img">台灣漁業正在改革 <span class="text-muted">你我都該重視</span></h2>
      <p class="lead text-img word-img">台灣漁業正積極改變中，一掃過往的陰霾!!</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ url_for('static', filename='p2.jpg') }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>

    </div>
  </div>

  <hr class="featurette-divider">
</div>
{% endblock %}