{% extends "base.html" %}


{% block body %}
<h1>非營利組織</h1>
<main>
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ url_for('static', filename='logo01.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
  
              <div class="card-body">
                <p class="card-text text-img">荒野保護協會</p>
                <p class="card-text">致力在台灣推展多元化的環境保護。</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-outline-secondary" href="https://www.sow.org.tw/" target="_blank" rel="noreferrer noopener">點我拜訪網站</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ url_for('static', filename='logo02.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
  
              <div class="card-body">
                <p class="card-text text-img">綠色公民行動</p>
                <p class="card-text">長期致力於台灣能源轉型與污染監督。</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-outline-secondary" href="https://gcaa.org.tw/" target="_blank" rel="noreferrer noopener">點我拜訪網站</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ url_for('static', filename='logo03.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>  
              <div class="card-body">
                <p class="card-text text-img">地球公民基金會</p>
                <p class="card-text">提昇人民環境意識並採取行動，善盡地球公民之責任。</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-outline-secondary" href="https://www.cet-taiwan.org/" target="_blank" rel="noreferrer noopener">點我拜訪網站</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ url_for('static', filename='logo04.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>  
              <div class="card-body">
                <p class="card-text text-img">臺灣環境資訊協會</p>
                <p class="card-text">推動環境資訊交流及環境信託，促進人與自然的和諧。</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-outline-secondary" href="https://teia.tw/" target="_blank" rel="noreferrer noopener">點我拜訪網站</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ url_for('static', filename='logo05.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <p class="card-text text-img">台灣蠻野心足生態協會</p>
                <p class="card-text">以法律相關行動作為促進環境或棲地保護的平台。</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-outline-secondary" href="https://www.wildatheart.org.tw/" target="_blank" rel="noreferrer noopener">點我拜訪網站</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ url_for('static', filename='logo06.jpg') }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>  
              <div class="card-body">
                <p class="card-text text-img">綠色和平組織|台灣</p>
                <p class="card-text">保護地球孕育全部多樣性生物的能力。</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <p><a class="btn btn-sm btn-outline-secondary" href="https://www.greenpeace.org/taiwan/" target="_blank" rel="noreferrer noopener">點我拜訪網站</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
{% endblock %}